/* ID:hen referoidaan #id, classiin referoidaan .class */

p {
    color: #4A4A48;
}

#header {
    display: inline-block;
}

.navigation {
    text-transform: uppercase;
    display: inline-block;
    box-sizing: border-box;
    background-color: #0a82b6;
    /* padding: 20px 5px; */
    text-align: center;
}

.navigation a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navigation a:hover {
  background-color: #ddd;
  color: black;
}

.navigation a.active {
  background-color: #04AA6D;
  color: white;
}

#message {
    width: 400px;
    height: 40px;
}