p {
    color: #4A4A48;
}

#header {
    display: inline-block;
}

.navigation {
    text-transform: uppercase;
    display: inline-block;
    box-sizing: border-box;
    background-color: #0ab65b;
    padding: 20px 5px;
    text-align: center;
}